/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}
main,
video,
img,
input {
  display: block;
}
video,
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
button,
input {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.video-slider {
  width: 100%;
  max-width: 2500px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr -webkit-max-content 1rem;
  -ms-grid-rows: 1fr max-content 1rem;
  grid-template-rows: 1fr -webkit-max-content 1rem;
  grid-template-rows: 1fr max-content 1rem;
  justify-items: center;
}
.video-slider > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.video-slider > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.video-slider > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.active-slide {
  width: 100%;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: -webkit-max-content 1fr;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center;
}
.active-slide > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.active-slide > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.controls {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: end;
  justify-self: end;
  padding: 0 1rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  opacity: 0.4;
}
.controls.hidden {
  visibility: hidden;
}
.controls:hover {
  opacity: 0.8;
}
.controls:hover .volume-input {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.controls > * + * {
  margin-left: 1.5rem;
}

.volume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.volume-input {
  max-width: 9rem;
  height: 3rem;
  margin-left: 0.5rem;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.35s linear;
  transition: -webkit-transform 0.35s linear;
  -o-transition: transform 0.35s linear;
  transition: transform 0.35s linear;
  transition: transform 0.35s linear, -webkit-transform 0.35s linear;
}
.active-slide video {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.toggle-play-btn {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  -ms-grid-row-align: center;
  align-self: center;
}
.slides-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: -webkit-max-content 1rem -webkit-max-content 1rem -webkit-max-content;
  -ms-grid-columns: max-content 1rem max-content 1rem max-content;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slides {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 7rem;
  grid-auto-rows: 0;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  width: 23rem;
  height: 6rem;
  overflow: hidden;
}
.slide {
  width: 7rem;
  height: 6rem;
  position: relative;
  opacity: 0.55;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: opacity 0.5s linear, border-color 0.25s linear, grid-column 0.5s linear;
  -o-transition: opacity 0.5s linear, border-color 0.25s linear, grid-column 0.5s linear;
  transition: opacity 0.5s linear, border-color 0.25s linear, grid-column 0.5s linear;
  transition: opacity 0.5s linear, border-color 0.25s linear, grid-column 0.5s linear,
    -ms-grid-column 0.5s linear;
  cursor: pointer;
}
.slide:hover {
  opacity: 1;
  border-color: #fff;
}
.slide > img {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.slide:hover > img {
  -webkit-transform: scaleY(1.25);
  -ms-transform: scaleY(1.25);
  transform: scaleY(1.25);
}
.slide-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 2px 4px;
  background-color: #fff;
  color: #111;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* buttons */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
}
/* play btn */
.toggle-play-btn {
  opacity: 0.5;
  width: 10rem;
  height: 10rem;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.toggle-play-btn:hover {
  opacity: 0.9;
}
.toggle-play-btn.hidden {
  display: none;
}
.pause-btn,
.repeat-btn,
.toggle-volume-btn {
  width: 4rem;
  height: 4rem;
}
.pause-btn {
  background-image: url(../images/icons/circle-pause-regular.svg);
}
.repeat-btn,
.toggle-volume-btn {
  background-size: 80%;
}
.repeat-btn {
  background-image: url(../images/icons/repeat-solid.svg);
}
.toggle-volume-btn {
  background-image: url(../images/icons/volume-high-solid.svg);
}
.toggle-volume-btn.volume-disabled {
  background-image: url(../images/icons/volume-xmark-solid.svg);
}
.play-btn,
.toggle-play-btn {
  background-image: url(../images/icons/circle-play-regular.svg);
}
.pause-btn,
.toggle-play-btn.paused {
  background-image: url(../images/icons/circle-pause-regular.svg);
}

.slide .play-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: inherit;
}
/* arrows btn*/
.arrow-left-btn {
  background-image: url(../images/icons/circle-arrow-left-solid.svg);
}
.arrow-right-btn {
  background-image: url(../images/icons/circle-arrow-right-solid.svg);
}
.arrow-left-btn,
.arrow-right-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #aaa;
  opacity: 0.7;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.arrow-left-btn:hover,
.arrow-right-btn:hover {
  opacity: 1;
}
.arrow-left-btn.disabled,
.arrow-right-btn.disabled {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* =======================Responsiveness=========================== */
@media (min-width: 420px) {
  .slides {
    width: 29rem;
    grid-auto-columns: 9rem;
  }
  .slide {
    width: 9rem;
  }
}
@media (min-width: 768px) {
  .slides {
    width: 32rem;
    grid-auto-columns: 10rem;
  }
  .slide {
    width: 10rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 70%;
  }
}
